/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  /* Estilos para el encabezado */
  header {
    background-color: #aca273;
    padding: 20px;
    /* styles.css */
   
  }
  header img {
    width: 200px; /* Cambia el valor según el tamaño deseado */
    height: auto; /* Esto mantiene la proporción original de la imagen */
  }
  /* Estilos para las secciones */
  section {
    padding: 50px 0;
  }
  
  h2 {
    color: #333;
  }
  
  /* Estilos para la sección "Sobre Mí" */
  #about {
    background-color: #f3f5ed;
  }
  
  /* Estilos para la sección "Habilidades" */
  #skills ul {
    list-style-type: none;
    padding: 0;
    
  }
  
  /* Estilos para la sección "Proyectos Destacados" */
  .project {
    background-color: #f3f5ed;
    border: 1px solid ;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  /* Estilos para el pie de página */
  footer {
    background-color: #aca273;
    color: #f3f5ed;
    padding: 20px;
    text-align: center;
  }
  
